@* s *@

@{
    ViewBag.Title = "Home Page";
}

@await Html.PartialAsync("/Views/Home/_productList.cshtml")




@* <div id="ca_plc"></div> *@
@section Scripts{

    @* <script src="~/Script/homePge.js"></script> *@

}
