@* s *@

@{
    ViewBag.Title = "Home Page";
}

<vc:product></vc:product>

@* @await Html.PartialAsync("/Views/Home/_productList.cshtml", new List<ProductCategory>())
 *@



@* <div id="ca_plc"></div> *@
@section Scripts{

    @* <script src="~/Script/homePge.js"></script> *@

}
